:root {
    --color1: #48142b;
    --color2: #f36d7b;
    --color3: #f69a61;

    --color4: #1a1d2e;
    --color5: #2f7493;
    --color6: #c387a4;
    --color7: #ffd4a9;

    --color8: #fffdff;
    --color9: #111;
}